* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    color: #426696;
    opacity: 0.8;
    font-weight: 600;
    font-size: 1rem;
}

h4, p {
    color: #658ec6;
    opacity: 0.8;
    font-weight: 500;
}

main {
    font-family: "Poppins";
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    justify-content: center;
    display: flex;
    align-items: center;
}

.glass {
    height: 80vh;
    width: 60%;
    background: white;
    background: linear-gradient(to right bottom, 
        rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
    /* basically we need the circle behind the glass so we can add a z index 
    higher the number more in front it will be by deafult z index is 1 
    so circle have z index 1 and glass has 2 so glass will be in front now. */
    z-index: 2;
    /* so this here add that blur affect to the circle area which is behind the 
    glass */
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2 {
    height: 200px;
    width: 200px;
    background: white;
    background: linear-gradient(to right bottom, 
        rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.6));
    position: absolute;
    border-radius: 100px;
}

.circle1 {
    top: 5%;
    right: 13%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.avatar {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

img {
    height: 35px;
    width: 35px;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, 
        rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
}

.link {
    display: flex;
    margin: 1rem 0rem;
    align-items: center;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 20px;
    color: white;
    padding: 1rem;
    display: flex;
    position: relative;
}

.pro img{
    height: 80px;
    width: 80px;
    position: absolute;
    right: 10%;
    top: 10%;
}

.pro h4{
    width: 40%;
    color: white;
    font-weight: 600;
}

.projects {
    flex: 2;
}
